form{

    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
        width: 400px;
        background: white;
        border-radius: 10px;
        box-shadow: 20px 11px 0px rgba(0,0,0,0.05);
        height: 300px;
        visibility: hidden;
    }
  
input{

    margin-top: 15px;
    border-top: none;
 border-left: none;
}
    #signup{
      width: 120px; 
    height: 50px;
    border: 1px solid;
    background: #9426d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;  
    margin-right: 0px;
    margin-left: 123px;
    margin-bottom: 100‒;
    border-bottom-width: 0px;
    margin-bottom: 0px;
    margin-top: 13px;

      }

      #register {
        position: absolute;
      
    top: 12%;
    left: 44%;

cursor: pointer;  
      }

    button  {
        width: 120px; 
        height: 50px;
        border: 1px solid;
        background: #8d8b8e;
        
        font-size: 18px;
        color: #e9f4fb;
        font-weight: 700;
        cursor: pointer;  

    }
   
      #register-btn {
        visibility: visible;}
        
        #register-btn.clicked {
            visibility: hidden;
          }